<page-header [title]="'途程管理'">
  <ng-template #breadcrumb>
    <nz-breadcrumb>
      <nz-breadcrumb-item><a>云积木</a></nz-breadcrumb-item>
      <nz-breadcrumb-item><a routerLink="/default/myblock/myproject">我的项目</a></nz-breadcrumb-item>
      <nz-breadcrumb-item><a>途程管理</a></nz-breadcrumb-item>
    </nz-breadcrumb>
  </ng-template>
</page-header>
<div nz-row nzGutter="16">
  <a routerLink="/workflow/flowtrs">
    <div nz-col nzXs="24" nzSm="12" nzMd="6" class="mb-md">
      <div nz-row nzType="flex" nzAlign="middle" class="bg-primary rounded-md">
        <div nz-col nzSpan="12" class="p-md text-white">
          <div class="h2 mt0"><i nz-icon nzType="appstore" nzTheme="outline"></i></div>
          <p class="text-nowrap mb0">防呆组</p>
        </div>
        <div nz-col nzSpan="12">
          <!-- <g2-mini-bar height="35" color="#fff" borderWidth="3" [padding]="[36, 30, 30, 30]" [data]="webSite">
          </g2-mini-bar> -->
        </div>
      </div>
    </div>
  </a>
  <a routerLink="/workflow/publicflowstyle">
    <div nz-col nzXs="24" nzSm="12" nzMd="6" class="mb-md">
      <div nz-row nzType="flex" nzAlign="middle" class="bg-success rounded-md">
        <div nz-col nzSpan="12" class="p-md text-white">
          <div class="h2 mt0"><i nz-icon nzType="tool" nzTheme="outline" ></i></div>
          <p class="text-nowrap mb0">公共工序样式</p>
        </div>
        <div nz-col nzSpan="12">
          <!-- <g2-mini-bar height="35" color="#fff" borderWidth="3" [padding]="[36, 30, 30, 30]" [data]="webSite">
          </g2-mini-bar> -->
        </div>
      </div>
    </div>
  </a>
  <a routerLink="/workflow/publicworkflow">
    <div nz-col nzXs="24" nzSm="12" nzMd="6" class="mb-md">
      <div nz-row nzType="flex" nzAlign="middle" class="bg-orange rounded-md">
        <div nz-col nzSpan="12" class="p-md text-white">
          <div class="h2 mt0"><i nz-icon nzType="radius-setting" nzTheme="outline"></i></div>
          <p class="text-nowrap mb0">公共工序</p>
        </div>
        <div nz-col nzSpan="12">
          <!-- <g2-mini-bar height="35" color="#fff" borderWidth="3" [padding]="[36, 30, 30, 30]" [data]="webSite"></g2-mini-bar> -->
        </div>
      </div>
    </div>
  </a>
  <a routerLink="/workflow/myflow">
    <div nz-col nzXs="24" nzSm="12" nzMd="6" class="mb-md">
      <div nz-row nzType="flex" nzAlign="middle" class="bg-magenta rounded-md">
        <div nz-col nzSpan="12" class="p-md text-white">
          <div class="h2 mt0"><i nz-icon nzType="setting" nzTheme="outline"></i></div>
          <p class="text-nowrap mb0">途程设置</p>
        </div>
        <div nz-col nzSpan="12">
          <!-- <g2-mini-bar height="35" color="#fff" borderWidth="3" [padding]="[36, 30, 30, 30]" [data]="webSite"></g2-mini-bar> -->
        </div>
      </div>
    </div>
  </a>
</div>
<div nz-row nzGutter="16">
  <div nz-col nzXs="24" nzMd="24">
    <div class="p-md">
      <h3>专注智能制造</h3>
    </div>
    <nz-carousel nzAutoPlay nzAutoPlaySpeed="3000">
      <div nz-carousel-content *ngFor="let index of array">
        <h3>{{index}}</h3>
      </div>
    </nz-carousel>
  </div>
  <div nz-col nzXs="24" nzMd="24">
    <nz-card [nzBordered]="false" class="ant-card__img">
      <img class="img" src="">
      <div class="p-md">
        <h3>工作流配置</h3>
        <p class="text-grey">可视化配置，简单、快速</p>
        <ol class="list-styled text-lg pt-md">
          <li>创游研发团队设计。</li>
          <li>汲取多家行业软件经验。</li>
          <li>打造更高、更快、更强的软件体验。</li>
        </ol>
        <!-- <p class="pt-md">
        <a class="text-grey" href="#" target="_blank">View Site...</a>
      </p> -->
      </div>
    </nz-card>
  </div>


</div>