<div nz-row class="shiftInfo-title">
  <div nz-col nzSpan="12" nzOffset="6">
    工单信息
  </div>
</div>
<div nz-row class="shiftInfo-content">
  <div nz-col nzSpan="8">
    生产工单
  </div>
  <div nz-col nzSpan="14" nzOffset="2">
    {{currentWoInfo.woCode}}
  </div>
</div>
<div nz-row class="shiftInfo-content">
  <div nz-col nzSpan="8">
    产品代码
  </div>
  <div nz-col nzSpan="14" nzOffset="2">
    {{currentWoInfo.productCode}}
  </div>
</div>
<div nz-row class="shiftInfo-content">
  <div nz-col nzSpan="8">
    计划数量
  </div>
  <div nz-col nzSpan="14" nzOffset="2">
    {{currentWoInfo.planNumber}}
  </div>
</div>
<div nz-row class="shiftInfo-content">
  <div nz-col nzSpan="8">
    投入数
  </div>
  <div nz-col nzSpan="14" nzOffset="2">
    {{currentWoInfo.inputNumber}}
  </div>
</div>
<div nz-row class="shiftInfo-content">
  <div nz-col nzSpan="8">
    产出数
  </div>
  <div nz-col nzSpan="14" nzOffset="2">
    {{currentWoInfo.produceNumber}}
  </div>
</div>
<div nz-row class="shiftInfo-content" style="height:46px;">
  <div nz-col nzSpan="8">
    工单状态
  </div>
  <div nz-col nzSpan="14" nzOffset="2">
    {{currentWoInfo.smtWoState}}
  </div>
</div>