<div class="container">
  <div class="wrap">
    <div class="top">
      <img class="logo" src="./assets/img/logo-full.svg">
      <div class="head">

        <span class="title">智能制造MES系统（中国制造2025）</span>
      </div>
      <div class="desc">以智能制造系统领导者为使命，引导工业4.0在中国企业落地应用，为中国制造2025的宏大远景贡献自己的力量。</div>
    </div>
    <router-outlet></router-outlet>
    <global-footer [links]="links">
      <!-- Copyright
      <i class="anticon anticon-copyright"></i> 2017
      <a href="//szcyerp.com" target="_blank">国家示范单位</a>出品 -->
    </global-footer>
  </div>

</div>