<div class="chartContainer" style="padding-left: 10px; padding-right: 10px;">

  <div nz-row style="height: 10%;">
    <!-- 头部 -->
    <div nz-col nzXs="24" nzLg="6">
      <span style="color: #ffffff;font-size: 16px;">达成率：</span>
      <nz-tag nzColor="#f5222d">{{standard.complete.bad}}%↓</nz-tag>
      <nz-tag nzColor="#c2af04">{{standard.complete.bad}}%~{{standard.complete.good}}%</nz-tag>
      <nz-tag nzColor="#52c41a">{{standard.complete.good}}%↑</nz-tag>
      <br>
      <span style="color: #ffffff;font-size: 16px;">良品率：</span>
      <nz-tag nzColor="#f5222d">{{standard.yield.bad}}%↓</nz-tag>
      <nz-tag nzColor="#c2af04">{{standard.yield.bad}}%~{{standard.yield.good}}%</nz-tag>
      <nz-tag nzColor="#52c41a">{{standard.yield.good}}%↑</nz-tag>
    </div>
    <div nz-col nzXs="24" nzLg="12">

      <h1 style="color:#1e91de;text-align: center" [style.font-size]="fontSizeTitle1+'px'">
        <img *ngIf="fontSizeTitle1<35;else elseBlock" class="logo" src="./assets/img/logo-full.png"
          style="height: 55px;">
        <ng-template #elseBlock>
          <img class="logo" src="./assets/img/logo-full.png" style="height: 65px;">
        </ng-template>
        工段看板
      </h1>
    </div>
    <div nz-col nzXs="24" nzLg="6">
      <div nz-row>
        <div nz-col nzXs="24" nzLg="24" style="text-align: right;">
          <span style="color:#1e91de;line-height: 1;"  [style.font-size]="fontSizeTitle1+'px'">
            {{this.workshopCode}}
          </span>
          <nz-statistic style="color:white" [nzValue]="nowTime|date:'yyyy-MM-dd HH:mm:ss'" [nzPrefix]="prefixTpl">
          </nz-statistic>
          <ng-template #prefixTpl><i nz-icon nzType="clock-circle" nzTheme="twotone"></i></ng-template>
        </div>

      </div>
    </div>
  </div>

  <ng-container *ngFor="let data of allData">
    <div nz-row [nzGutter]="8" style="color: aliceblue;height: 44%; border:0px solid #c1eb06;margin-top: 5px;">
      <!-- 上层  -->
      <ng-container *ngFor="let oneData of data">

        <div nz-col nzXs="24" nzLg="12" style="height: 100%;border:0px solid #c1eb06; padding-right: 10px;">
          <!-- 上层 左  -->
          <div nz-row style="height: 100%;">
            <div nz-col nzXs="24" nzLg="24" style="height: 100%; background:#192B53;">
              <div style="height: 10%;text-align: center;">
                <span style="color:#1e91de;text-align: center;" [style.font-size]="fontSizeTitle2+'px'">
                  {{oneData.title}}
                </span>
              </div>

              <div style="height: 89%;">

                <app-rps-table *ngIf="!oneData.isLoading" [data]="oneData.data" [tableSize]="tableSize"
                  [standard]="standard"></app-rps-table>

              </div>

            </div>
          </div>

        </div>

      </ng-container>

    </div>
  </ng-container>


</div>