<ng-container *ngIf="!rpsBoardService.isFour && workShop">
  <app-rps-block [workShop]="workShop"></app-rps-block>
</ng-container>
<ng-container *ngIf="rpsBoardService.isFour">
  <div class="chartContainer" style="padding-left: 10px; padding-right: 10px;">

    <div nz-row style="height: 5%;">
      <!-- 头部 -->
      <app-head [workShop]="workShop"></app-head>

    </div>
    <div nz-row style="height: 95%;" [nzGutter]="4" [nzType]="null">
      <div nz-col *ngFor="let item of rpsBoardService.fourBlock |keyvalue" [nzSpan]="rpsBoardService.isFullscreen?24:12"
      [nzOrder]="item.value.sort"
      [ngStyle]="{'height':(rpsBoardService.isFullscreen?100:50)+'%'}"
        style="border:0px solid #c1eb06; padding-right: 10px;" >
        <!-- 1  -->
        <div style="height: 100%;" id="{{item.key}}" ryDomVisible (visible)="visible($event)" >
          <app-rps-block [workShop]="item.value" [isFourBlock]="true"></app-rps-block>
        </div>
      </div>


    </div>



  </div>


</ng-container>