<div class="chartContainer">
    <p style="color:#1e91de;text-align: center;font-size: 26px;"> 产线良率看板</p>

  <app-yield-table></app-yield-table>

  <div nz-row [nzGutter]="24" class="pt-lg">

    <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24">

      <app-yield-barline></app-yield-barline>
    </div>
  </div>
  <div nz-row [nzGutter]="24">
    <div nz-col nzXs="24" nzSm="24" nzLg="6" class="mb-lg">
      <app-yield-gauge></app-yield-gauge>
    </div>
    <div nz-col nzXs="24" nzSm="24" nzLg="6" class="mb-lg">
      <app-yield-gauge></app-yield-gauge>
    </div>
    <div nz-col nzXs="24" nzSm="24" nzLg="6" class="mb-lg">
      <app-yield-gauge></app-yield-gauge>
    </div>
    <div nz-col nzXs="24" nzSm="24" nzLg="6" class="mb-lg">
      <app-yield-gauge></app-yield-gauge>
    </div>
  </div>
</div>