<div style="height: 100%;" #divBox>
  <nz-table #smallTable nzSize="middle" [nzData]="showData" style="background:#192B53;" [nzPageSize]="nzPageSize"
    nzBordered="false" [nzPageIndex]="nzPageIndex" [nzShowPagination]="false" (mouseenter)="stopPage=true;"
    (mouseleave)="stopPage=false">
    <thead>
      <tr>
        <th>线体：{{nzTotal}}</th>
        <th class="thcenter">达成率 达标:&nbsp;{{headData.completeOk}} 未达标:&nbsp;{{headData.completeBad}}</th>
        <!-- <th >线体:{{nzTotal}}</th> -->
        <th class="thcenter">良率 达标：{{headData.yieldOk}} 未达标：{{headData.yieldBad}}</th>
        <th class="thcenter">效率</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of smallTable.data;index as i" ryHighlight (click)="jump(data)">
        <td>{{ data.prolineCode }}<ng-container *ngIf="data.isNull==='3'">
            <br><nz-tag nzColor='#52c41a' >试产</nz-tag>
          </ng-container>
          <!-- <ng-container *ngIf="data.isNull==='2'">
            <br><nz-tag  [nzColor]="'#52c41a'">保养</nz-tag>
          </ng-container> -->
          <!-- <g2-gauge [title]="'核销率'" height="50" [percent]="60" ></g2-gauge> -->

        </td>
        <td>
          <!-- <span style="margin-left: 20%; font-size: 16px;position: relative;"
            [ngStyle]="{color:data.planNums===0&&!data.isNull?'#f50':'#ffffff'}">
            <ng-container *ngIf="data.isNull;">
              无排产
            </ng-container>
            <ng-container *ngIf="!data.isNull;">
              产出：{{data.badNums+data.goodNums}}&nbsp;&nbsp;计划：{{data.planNums}}
            </ng-container>
          </span> -->
          <span style="margin-left: 8%; font-size: 16px;position: relative;">
            <ng-container *ngIf="data.isNull==='0'">
              无排产
            </ng-container>
            <ng-container *ngIf="data.isNull==='2'">
              <span style="color:#c2af04;">保养</span> 
            </ng-container>
            <!-- {{data.badNums+data.goodNums}} -->
            <ng-container *ngIf="data.isNull==='1'||data.isNull==='3'">
              产出：{{data.goodNums}}&nbsp;&nbsp;{{data.planNums===0?'':'计划：'+data.planNums}}
              <nz-tag *ngIf="!data.planNums" [nzColor]="'#f5222d'">无产出计划</nz-tag>
            </ng-container>
          </span>

          <span style="display: flex;flex-wrap: nowrap; align-items:center;">
            <nz-progress [nzPercent]="data.planAchievementRate>100?100:data.planAchievementRate"
              style="width: 75%;margin-right: 8px;" [nzStatus]="data.completeStatus" [nzShowInfo]="false">
            </nz-progress>
            {{ data.planAchievementRate }}%
          </span>

        </td>
        <td>
          <span style="margin-left: 8%; font-size: 16px;">
            <ng-container *ngIf="data.isNull==='0'">
              无排产
            </ng-container>
            <ng-container *ngIf="data.isNull==='2'">
              <span style="color:#c2af04;">保养</span> 
            </ng-container>
            <ng-container *ngIf="data.isNull==='1'||data.isNull==='3'">
              良品：{{data.goodNums}}&nbsp;&nbsp;不良：{{data.badNums}}
            </ng-container>
          </span>
          <span style="display: flex;flex-wrap: nowrap; align-items:center;">
            <nz-progress [nzPercent]="data.yield" [nzStatus]="data.yieldStatus" [nzShowInfo]="false"
              style="width: 75%;margin-right: 8px;"></nz-progress>
            {{ data.yield }}%
          </span>
        </td>
        <td class="thcenter">
          <nz-progress [nzPercent]="data.efficiency" nzType="circle" [nzFormat]="formatOne" [nzWidth]="52" [nzStrokeColor]="progressColor[data.efficiencyStatus]"></nz-progress>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>