<div style="height: 100%;" #divBox>
  <nz-table #smallTable nzSize="middle" [nzData]="showData" style="background:#192B53;" [nzPageSize]="nzPageSize"
    nzBordered="false" [nzPageIndex]="nzPageIndex" [nzShowPagination]="false" (mouseenter)="stopPage=true;"
    (mouseleave)="stopPage=false">
    <thead>
      <tr>
        <th>线体：{{nzTotal}}</th>
        <th class="thcenter">不良</th>
        <th class="thcenter" colspan="2">良率</th>
        <th class="thcenter">
          <div style="display: flex; flex-direction: column; width: fit-content;margin: 0 auto;">
            <span style="border-bottom: 1px solid #fff;width: 100%;white-space: nowrap;">
              产出
            </span>
            <span>
              计划
            </span>
          </div>
        </th>
        <th class="thcenter" colspan="2">达成率</th>
       
        <!-- <th class="thcenter">达成率 达标:&nbsp;{{headData.completeOk}} 未达标:&nbsp;{{headData.completeBad}}</th> -->
        <!-- <th >线体:{{nzTotal}}</th> -->
        <!-- <th class="thcenter">良率 达标：{{headData.yieldOk}} 未达标：{{headData.yieldBad}}</th> -->
        <th class="thcenter">
          <div style="display: flex; flex-direction: column; width: fit-content;margin: 0 auto;">
            <span style="border-bottom: 1px solid #fff;width: 100%;white-space: nowrap;">
              计件
            </span>
            <span>
              签到
            </span>
          </div>
        </th>
        <th class="thcenter" colspan="2">效率</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of smallTable.data;index as i" ryHighlight>
        <td (click)="jump(data)" style="font-size: 15px;">{{ data.prolineCode }}
          <ng-container *ngIf="data.isNull==='0'">
            <nz-tag>无排产</nz-tag>
          </ng-container>

          <ng-container *ngIf="data.isNull==='2'">
            <nz-tag nzColor='#c2af04'>保养</nz-tag>
          </ng-container>
          <ng-container *ngIf="data.isNull==='3'">
            <nz-tag nzColor='#52c41a'>试产</nz-tag>
          </ng-container>
          
          <ng-container *ngIf="data.isNull==='1'||data.isNull==='3'">
            <nz-tag *ngIf="!data.planNums" [nzColor]="'#f5222d'">无计划</nz-tag>
          </ng-container>
          <!-- <ng-container *ngIf="data.isNull==='2'">
            <br><nz-tag  [nzColor]="'#52c41a'">保养</nz-tag>
          </ng-container> -->
          <!-- <g2-gauge [title]="'核销率'" height="50" [percent]="60" ></g2-gauge> -->

        </td>
        <td class="thcenter" (click)="jump(data)">{{data.badNums}}</td>

        <td  (click)="jump(data)">
          <nz-progress [nzPercent]="100" [nzShowInfo]="false"
            [ngClass]="{'success': data.yieldStatus==='success','exception': data.yieldStatus=='exception','active': data.yieldStatus=='active'}"
            nzType="circle" [nzFormat]="formatOne" [nzWidth]="24" [nzStrokeColor]="progressColor[data.yieldStatus]">
          </nz-progress>
        </td>
        <td class="thcenter" (click)="jump(data)">{{data.yield}}%</td>
        <!-- <ng-container *ngIf="(data.isNull==='1'||data.isNull==='3')&& !data.planNums;else planNum">
          <span style="color: #f5222d;" >缺失</span>
        </ng-container> -->
        <td class="thcenter" (click)="jump(data)">
          <div style="display: flex; flex-direction: column; width: fit-content;margin: 0 auto;">
            <span style="border-bottom: 1px solid #fff;width: 100%;">
              {{data.goodNums}}
            </span>
            <span>
              {{data.planNums}}
            </span>
          </div>
        </td>
        <td (click)="jump(data)">
          <nz-progress [nzPercent]="100" [nzShowInfo]="false" nzType="circle" [nzFormat]="formatOne" [nzWidth]="24"
            [ngClass]="{'success': data.completeStatus==='success','exception': data.completeStatus=='exception','active': data.completeStatus=='active'}"
            [nzStrokeColor]="progressColor[data.completeStatus]"></nz-progress>
        </td>
        <!-- <td class="thcenter" (click)="showDeatil(data)" style="cursor: pointer;" defaultColor="rgba(0, 0, 255, 0.1)"
          ryHighlight>
          <div style="display: flex; flex-direction: column; width: 100%;align-items: center;">
            <div style="width: fit-content;">
              <nz-progress [nzPercent]="100" [nzShowInfo]="false" nzType="circle" [nzFormat]="formatOne" [nzWidth]="20"
                [ngClass]="{'success': data.completeStatus==='success','exception': data.completeStatus=='exception','active': data.completeStatus=='active'}"
                [nzStrokeColor]="progressColor[data.completeStatus]"></nz-progress>
            </div>
            <div style="width: fit-content;">
              {{data.planAchievementRate}}%
            </div>

          </div>
        </td> -->
        <td class="thcenter" (click)="jump(data)">{{data.planAchievementRate}}%</td>

        <!-- <td class="thcenter">{{data.goodNums}}</td> -->
        

        <td class="thcenter" (click)="jump(data)">

          <div style="display: flex; flex-direction: column; width: fit-content;margin: 0 auto;">
            <span style="border-bottom: 1px solid #fff;width: 100%;">
              {{data.effectiveOutput/3600 | number:'.0-1'}}
            </span>
            <span>
              {{data.signTime/3600 | number:'.0-1'}}
            </span>
          </div>
        </td>

        <td  (click)="showDeatil(data)" style="cursor: pointer;">

          <nz-progress [nzPercent]="100"
            [ngClass]="{'error': data.errorCode==eErrorCode.error,'success': data.efficiencyStatus==='success','exception': data.efficiencyStatus=='exception','active': data.efficiencyStatus=='active'}"
            nzType="circle" [nzFormat]="formatOne" [nzWidth]="24" [nzShowInfo]="false"
            [nzStrokeColor]="progressColor[data.efficiencyStatus]"></nz-progress>
        </td>
        <td  class="thcenter" style="font-size: 15px;cursor: pointer;" (click)="showDeatil(data)">
          <ng-container *ngIf="data.errorMsg">{{data.errorMsg}}</ng-container>
          <ng-container *ngIf="!data.errorMsg">
            <span [ngClass]="{'efferror': data.errorCode==eErrorCode.error}">
              {{data.efficiency}}%
            </span>
          </ng-container>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>

<nz-modal [(nzVisible)]="isVisible" [nzWidth]="1200" (nzOnCancel)="isVisible=false;" [nzStyle]="{ top: '60px' }"
  [nzOkText]="null" [nzCancelText]="null" [nzBodyStyle]="{'background': '#192b53'}" [nzFooter]="null">

  <app-efficiency-detail *ngIf="isVisible" [data]="effData"></app-efficiency-detail>


</nz-modal>