<page-header [title]="'组织权限'">
    <ng-template #breadcrumb>
      <nz-breadcrumb>
        <nz-breadcrumb-item><a>云积木</a></nz-breadcrumb-item>
        <nz-breadcrumb-item><a routerLink="/default/myblock/myproject">我的项目</a></nz-breadcrumb-item>
        <nz-breadcrumb-item><a>组织权限</a></nz-breadcrumb-item>
      </nz-breadcrumb>
    </ng-template>
  </page-header>
 
<!-- 快速导航 -->
<!-- <quick-menu>
  <nz-list [nzBordered]="false" [nzSplit]="false">
    <nz-list-item>
      <a routerLink="/">Home</a>
    </nz-list-item>
    <nz-list-item>
      <a routerLink="/widgets">Widgets</a>
    </nz-list-item>
    <nz-list-item>
      <a routerLink="/style/typography">typography</a>
    </nz-list-item>
    <nz-list-item>
      <a routerLink="/style/gridmasonry">gridmasonry</a>
    </nz-list-item>
    <nz-list-item>
      <a routerLink="/pro/result/success">success result</a>
    </nz-list-item>
  </nz-list>
</quick-menu> -->
<div nz-row nzGutter="16">
    <a routerLink="/authority/organizationalmanager">
  <div nz-col nzXs="24" nzSm="12" nzMd="6" class="mb-md">
    <div nz-row nzType="flex" nzAlign="middle" class="bg-primary rounded-md">
      <div nz-col nzSpan="12" class="p-md text-white">
        <div class="h2 mt0"><i class="anticon anticon-usergroup-add"></i></div>
        <p class="text-nowrap mb0">组织架构</p>
      </div>
      <div nz-col nzSpan="12">
        <g2-mini-bar height="35" color="#fff" borderWidth="3" [padding]="[36, 30, 30, 30]" [data]="webSite"></g2-mini-bar>
      </div>
    </div>
  </div>
  
  </a>
  <a routerLink="/authority/rolemanager"> 
  <div nz-col nzXs="24" nzSm="12" nzMd="6" class="mb-md">
    <div nz-row nzType="flex" nzAlign="middle" class="bg-success rounded-md">
      <div nz-col nzSpan="12" class="p-md text-white">
        <div class="h2 mt0"><i class="anticon anticon-key"></i></div>
        <p class="text-nowrap mb0">权限管理</p>
      </div>
      <div nz-col nzSpan="12">
        <g2-mini-bar height="35" color="#fff" borderWidth="3" [padding]="[36, 30, 30, 30]" [data]="webSite"></g2-mini-bar>
      </div>
    </div>
  </div>
</a>
<!-- <a routerLink="">
  <div nz-col nzXs="24" nzSm="12" nzMd="6" class="mb-md">
    <div nz-row nzType="flex" nzAlign="middle" class="bg-orange rounded-md">
      <div nz-col nzSpan="12" class="p-md text-white">
        <div class="h2 mt0"><i class="anticon anticon-tool"></i></div>
        <p class="text-nowrap mb0">数据库权限设置</p>
      </div>
      <div nz-col nzSpan="12">
        <g2-mini-bar height="35" color="#fff" borderWidth="3" [padding]="[36, 30, 30, 30]" [data]="webSite"></g2-mini-bar>
      </div>
    </div>
  </div>
  </a> -->
  <div nz-col nzXs="24" nzSm="12" nzMd="6" class="mb-md">
    <div nz-row nzType="flex" nzAlign="middle" class="bg-magenta rounded-md">
      <div nz-col nzSpan="12" class="p-md text-white">
        <div class="h2 mt0"><i class="anticon anticon-appstore-o"></i></div>
        <p class="text-nowrap mb0">其他</p>
      </div>
      <div nz-col nzSpan="12">
        <g2-mini-bar height="35" color="#fff" borderWidth="3" [padding]="[36, 30, 30, 30]" [data]="webSite"></g2-mini-bar>
      </div>
    </div>
  </div>
</div>

<div nz-row nzGutter="16">
    <div nz-col nzXs="24" nzMd="24">
         
        <div class="p-md">
            <h3>专注于智能制造</h3>
          
          </div>
          
            <nz-carousel nzAutoPlay nzAutoPlaySpeed="3000">
                <div nz-carousel-content *ngFor="let index of array"><h3>{{index}}</h3></div>
              </nz-carousel>
      

      
      </div>
  <div nz-col nzXs="24" nzMd="24">
    <nz-card [nzBordered]="false" class="ant-card__img">
      <img class="img" src="">
      <div class="p-md">
        <h3>权限配置</h3>
        <p class="text-grey">可视化配置，简单、快速</p>
        <ol class="list-styled text-lg pt-md">
          <li>创游研发团队设计。</li>
          <li>汲取多家行业软件经验。</li>
          <li>打造更高、更快、更强的软件体验。</li>
        </ol>
        <!-- <p class="pt-md">
          <a class="text-grey" href="#" target="_blank">View Site...</a>
        </p> -->
      </div>
    </nz-card>
  </div>
   
 
</div>
