<div *ngIf="show">
  <page-header [home]="''"></page-header>
  <nz-card [nzBordered]="false">
    <div style="float: right">
      <div style="float: left;margin-right: 15px">
        <nz-select style="width: 200px;" nzShowSearch nzAllowClear [nzDisabled]="roleDisabled" [(ngModel)]="urValue"
          (ngModelChange)="changeCategory($event)" nzPlaceHolder="请选择用户组">
          <nz-option *ngFor="let option of categories" [nzLabel]="option.csysRoleName" [nzValue]="option.csysRoleId">
          </nz-option>
        </nz-select>
      </div>
      <div style="float: left">
        <nz-input-group nzSearch [nzAddOnAfter]="suffixButton">
          <input type="text" nz-input placeholder="账号" [ngModel]="searchContent" (keydown)="keytest($event)"
            (ngModelChange)="onChange($event)">
        </nz-input-group>
        <ng-template #suffixButton>
          <button nz-button nzType="primary" nzSearch (click)="serchUserList()">查询</button>
        </ng-template>
      </div>
      <div style="float: left;margin-left: 8px">
        <button nz-button nzType="primary" nzSearch (click)="resetingUserList()">重置</button>
      </div>
    </div>

    <div style="margin-top:20px;margin-bottom: 30px">
      <button nz-button (click)="showModal()" [nzType]="'primary'">
        <i class="anticon anticon-plus"></i>
        <span>添加用户</span>
      </button>
      <!-- <button nz-button [nzType]="'primary'">
      <i nz-icon nzType="solution" nzTheme="outline"></i>
      <span>设置权限</span>
    </button> -->
    </div>
    <ng-container *ngIf="selectedRows.length > 0">
      <button nz-button class="ml-sm">批量操作</button>
  
      <button nz-button nz-dropdown class="ml-sm" [nzDropdownMenu]="menu">
        更多操作
        <i class="anticon anticon-down"></i>
      </button>
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu>
          <li nz-menu-item>删除</li>
          <li nz-menu-item>批量审批</li>
        </ul>
      </nz-dropdown-menu>
    </ng-container>

    <!-- <form nz-form [nzLayout]="'inline'" se-container>
    <se [title]="'用户组'" block>
      <nz-form-item>
        <nz-form-control>
          <tag-select>
            <nz-tag *ngFor="let i of categories; let idx = index" nzMode="checkable" [nzChecked]="i.nzChecked"
              (nzCheckedChange)="changeCategory(i.csysRoleId)">
              {{i.csysRoleName}}
            </nz-tag>
          </tag-select>
        </nz-form-control>
      </nz-form-item>
    </se>
  </form> -->
    <nz-table #basicTable [nzData]="usersData" nzPageSize="5" [nzLoading]="nzLoading">
      <thead>
        <tr>
          <!-- <th nzShowCheckbox [(nzChecked)]="allChecked" [nzIndeterminate]="indeterminate" (nzCheckedChange)="checkAll($event)"></th> -->
          <th>序号</th>
          <th>账号</th>
          <th>姓名</th>
          <th>性别</th>
          <th>组织</th>
          <th>用户组</th>
          <th>手机</th>
          <th>邮箱</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data;let i = index">
          <!-- <td nzShowCheckbox [(nzChecked)]="data.checked" [nzDisabled]="data.disabled" (nzCheckedChange)="refreshStatus()"></td> -->
          <td>{{i+1}}</td>
          <td>{{data.csysUserUsername}}</td>
          <td>{{data.csysUserRealname}}</td>
          <td>{{data.csysUserGender}}</td>
          <td>
            <p lines="2" style="width: 90px;margin-top: 15px" class="text-truncate" nz-tooltip
              [nzTitle]="data.csysOrgPotName">
              {{data.csysOrgPotName}}</p>
          </td>
          <td>
            <p lines="2" style="width: 90px;margin-top: 15px" class="text-truncate" nz-tooltip
              [nzTitle]="data.userRole">
              {{data.userRole}}</p>
          </td>
          <td>{{data.csysUserPhone}}</td>
          <td>{{data.csysUserEmail}}</td>
          <td><a (click)="editUser(data.csysUserId)">编辑</a>
            <span style="color:rgb(159, 159, 159)">|</span>
            <a nz-popconfirm nzTitle="确认删除该用户？" (nzOnConfirm)="deleteUser(data.csysUserId)" nzPlacement="bottom">删除</a>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </nz-card>


  <!-- 
<nz-modal nzWrapClassName="vertical-center-modal" [(nzVisible)]="isVisible" [nzTitle]="nzTitle" (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()" [nzOkLoading]="isOkLoading">
  <nz-input-group [nzSuffix]="suffixIcon">
    <input type="text" nz-input placeholder="Search Tree Node" [(ngModel)]="searchValue">
  </nz-input-group>
  <ng-template #suffixIcon>
    <i class="anticon anticon-search"></i>
  </ng-template>
  <nz-tree [(ngModel)]="nodes" [nzSearchValue]="searchValue" [nzCheckable]="true" (nzOnSearchNode)="mouseAction('search',$event)"
    (nzCheckBoxChange)="mouseAction('check',$event)" (nzClick)="mouseAction('click', $event)" (nzExpandChange)="mouseAction('expand',$event)"
    (nzDblClick)="mouseAction('dblclick',$event)">
  </nz-tree>
</nz-modal> -->

  <nz-modal nzWrapClassName="vertical-center-modal" [(nzVisible)]="isRoleVisible" [nzTitle]="nzTitle"
    (nzOnOk)="handleOk()" [nzOkLoading]="nzBtnLoding" (nzOnCancel)="handleRoleCancel()" [nzOkLoading]="isOkLoading"
    nzWidth="53%" nzMaskClosable="false" nzGetContainer="false">
    <!-- <div *ngIf="windowShow == 'adduser'"> -->
    <form nz-form [formGroup]="addUserForm">
      <nz-form-item>
        <nz-form-label nzSpan="5" nzFor="username" [nzOffset]="2">头像</nz-form-label>
        <nz-form-control nzSpan="10">
          <nz-upload [nzAction]="imgUrl" nzListType="picture-card" [nzShowUploadList]="showUploadList"
            [(nzFileList)]="fileList" [nzShowButton]="fileList.length < 1" [nzPreview]="handlePreview"
            [nzBeforeUpload]="beforeUpload" (nzChange)="handleChange($event)">
            <i nz-icon nzType="plus"></i>
            <div class="ant-upload-text">Upload</div>
            <!-- <img *ngIf="avatarUrl" [src]="avatarUrl" class="avatar" />   -->
          </nz-upload>
          <nz-modal [nzVisible]="previewVisible" [nzContent]="modalContent" [nzFooter]="null"
            (nzOnCancel)="previewVisible = false">
            <ng-template #modalContent>
              <img [src]="previewImage" [ngStyle]="{ width: '100%' }" />
            </ng-template>
          </nz-modal>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzSpan="5" nzRequired nzFor="username" [nzOffset]="2">账号</nz-form-label>
        <nz-form-control nzSpan="10" [nzValidateStatus]="addUserForm.get('username')" nzErrorTip="账号已存在或账号中存在中文或者特殊字符">
          <input nz-input formControlName="username" (ngModelChange)="usernameInspect($event)" placeholder="请输入账号">
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzSpan="5" nzRequired nzFor="password" [nzOffset]="2">密码</nz-form-label>
        <nz-form-control nzSpan="10" [nzValidateStatus]="addUserForm.get('password')" nzErrorTip="请输入密码">
          <input type="password" nz-input formControlName="password" placeholder="请输入密码">
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzSpan="5" nzRequired nzFor="confitmPassword" [nzOffset]="2">确认密码</nz-form-label>
        <nz-form-control nzSpan="10" [nzValidateStatus]="addUserForm.get('confitmPassword')" nzErrorTip="未输入密码或两次密码不相同，请重新输入">
          <input type="password" nz-input formControlName="confitmPassword" placeholder="请再次输入密码">
        </nz-form-control>
      </nz-form-item>
      <!-- <nz-form-item>
      <nz-form-label nzSpan="5" nzFor="numType" [nzOffset]="2">员工号</nz-form-label>
      <nz-form-control nzSpan="10">
        <nz-radio-group formControlName="numType">
          <label nz-radio nzValue="0">私人账号</label>
          <label nz-radio nzValue="1">公共账号</label>
        </nz-radio-group>
      </nz-form-control>
    </nz-form-item> -->
      <nz-form-item>
        <nz-form-label nzSpan="5" nzFor="numType" [nzOffset]="2">账号类别</nz-form-label>
        <nz-form-control nzSpan="10">
          <nz-radio-group formControlName="numType">
            <label nz-radio nzValue="0">私人账号</label>
            <label nz-radio nzValue="1">公共账号</label>
          </nz-radio-group>
        </nz-form-control>
      </nz-form-item>
      <!-- <nz-form-item>
    <nz-form-label nzSpan="5" nzFor="accountResource" [nzOffset]="2">账号资源</nz-form-label>
      <nz-form-control nzSpan="10">
        <nz-select style="width: 100%" nzMode="multiple" nzPlaceHolder="请选择账号资源" formControlName="accountResource">
          <nz-option *ngFor="let option of resourceData" [nzLabel]="option.resourceCode" [nzValue]="option.tResourceId">
          </nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item> -->
      <nz-divider nzDashed="true"></nz-divider>
      <nz-form-item>
        <nz-form-label nzSpan="5" nzFor="position" [nzOffset]="2" nzRequired>用户组</nz-form-label>
        <nz-form-control nzSpan="10" [nzValidateStatus]="addUserForm.get('position')" nzErrorTip="请选择用户组">
          <nz-select style="width: 100%" nzMode="multiple" nzPlaceHolder="请选择用户组" formControlName="position"
            [nzMaxMultipleCount]="1">
            <nz-option *ngFor="let option of listOfOption" [nzLabel]="option.csysRoleName"
              [nzValue]="option.csysRoleId">
            </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzSpan="5" nzFor="department" [nzOffset]="2" nzRequired>组织</nz-form-label>
        <nz-form-control nzSpan="10" [nzValidateStatus]="addUserForm.get('department')" nzErrorTip="请选择组织">
          <nz-tree-select [nzNodes]="nodes1" [nzDefaultExpandAll]="true" [nzAllowClear]="false" nzPlaceHolder="请选择组织"
            [nzMultiple]="false" formControlName="department">
          </nz-tree-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzSpan="5" nzFor="employeeId" [nzOffset]="2">员工号</nz-form-label>
        <nz-form-control nzSpan="10">
          <input nz-input formControlName="employeeId" placeholder="请输入员工号">
        </nz-form-control>
      </nz-form-item>
      <nz-divider nzDashed="true"></nz-divider>
      <nz-form-item>
        <nz-form-label nzSpan="5" nzRequired nzFor="name" [nzOffset]="2">姓名</nz-form-label>
        <nz-form-control nzSpan="10" [nzValidateStatus]="addUserForm.get('name')" nzErrorTip="请输入姓名">
          <input nz-input formControlName="name" placeholder="请输入姓名">
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzSpan="5" nzFor="age" [nzOffset]="2">年龄</nz-form-label>
        <nz-form-control nzSpan="10">
          <nz-input-number formControlName="age" [nzMin]="1" [nzMax]="200" [nzStep]="1" style="width:100%"
            placeholder="请输入年龄"></nz-input-number>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzSpan="5" nzFor="gender" [nzOffset]="2">性别</nz-form-label>
        <nz-form-control nzSpan="10">
          <nz-radio-group formControlName="gender">
            <label nz-radio nzValue="男">男</label>
            <label nz-radio nzValue="女">女</label>
          </nz-radio-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzSpan="5" nzFor="phone" [nzOffset]="2">联系电话</nz-form-label>
        <nz-form-control nzSpan="10" [nzValidateStatus]="addUserForm.get('phone')">
          <input nz-input formControlName="phone" placeholder="请输入联系电话">
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzSpan="5" nzFor="email" [nzOffset]="2">邮箱</nz-form-label>
        <nz-form-control nzSpan="10" [nzValidateStatus]="addUserForm.get('email')" nzErrorTip="请输入正确的邮箱!">
          <input nz-input formControlName="email" placeholder="请输入邮箱">
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzSpan="5" nzFor="address" [nzOffset]="2">地址</nz-form-label>
        <nz-form-control nzSpan="10">
          <input nz-input formControlName="address" placeholder="请输入地址">
        </nz-form-control>
      </nz-form-item>
    </form>
    <!-- </div> -->
  </nz-modal>
  <!-- 设置权限 -->
</div>