<page-header [home]="''"></page-header>
<!-- <nz-card [nzBordered]="false">
  <div nz-row>
    <div nz-col [nzXs]="24" [nzSm]="8" class="header-info">
      <span class="text-grey-dark">公共工序</span>
      <span class="d-block display-2">{{total}}个任务</span>
      <em></em>
    </div>

  </div>
</nz-card> -->
<nz-card [nzBordered]="false">
  <div class="d-flex align-items-center mb-lg">
    <h3 class="flex-1 text-lg">公共工序列表</h3>
    <div>
      <nz-input-group nzSearch [nzAddOnAfter]="suffixButton">
        <input type="text" nz-input placeholder="公共工序名称" [(ngModel)]="searchContent">
      </nz-input-group>
      <ng-template #suffixButton>
        <button nz-button nzType="primary" nzSearch (click)="serchWorkFlow()">查询</button>
      </ng-template>

    </div>
    <div style="margin-left:8px;margin-right: 20px">
      <button nz-button nzType="primary" nzSearch (click)="restingSearch()">重置</button>
    </div>
  </div>
  <button nz-button (click)="insertWorkFlowInit()" [nzType]="'dashed'" class="ant-btn__block mb-sm">
    <i class="anticon anticon-plus"></i>
    <span>添加</span>
  </button>
  <nz-list [nzDataSource]="data" [nzLoading]="loading" [nzRenderItem]="item" [nzPagination]="pagination">
    <ng-template #item let-item>
      <nz-list-item [nzContent]="nzContent" [nzActions]="[edit, op]">
        <ng-template #edit>
          <a (click)="editWorkflowInit(item.csysPotPublicId)">编辑 | </a>
          <a nz-popconfirm nzTitle="确认删除" (nzOnConfirm)="deleteWorkFlow(item.csysPotPublicId)" (nzOnCancel)="cancel()"
            nzPlacement="top">删除</a>
        </ng-template>
        <nz-list-item-meta [nzTitle]="nzTitle" [nzDescription]="item.csysPotPublicDesc" [nzAvatar]="nzAvatar">
          <ng-template #nzTitle> 
            {{item.csysPotPublicName}}
          </ng-template>
          <ng-template #nzAvatar>
            <nz-avatar [nzSrc]="avatar" nzSize="large" [nzShape]="'circle'">工</nz-avatar>
          </ng-template>
        </nz-list-item-meta>
        <ng-template #nzContent>
          <div class="width-xl">
            <div class="d-flex text-grey-dark">
              <div class="gutter-example">
                <div nz-row nzGutter="16">
                  <div nz-col class="gutter-row" nzSpan="6">
                    <div class="gutter-box">
                      工序组
                      <p lines="1" style="width: 100px;" class="text-truncate" nz-tooltip
                      [nzTitle]="item.group.csysPotGroupName">
                      {{item.group.csysPotGroupName}}
                      </p> 
                    </div>
                  </div>
                  <div nz-col class="gutter-row" nzSpan="6">
                    <div class="gutter-box">
                      <div class="gutter-box">
                        样式
                        <p lines="1" style="width: 100px;" class="text-truncate" nz-tooltip [nzTitle]="titleTemplate">
                          <ng-template #titleTemplate>
                            <span>颜色:</span>
                            <nz-avatar [nzShape]="'square'" [nzSize]="'small'"
                              [ngStyle]="{'background-color':item.style.csysPotStyleColor}"></nz-avatar>
                            <span style="margin-left:9px"> 形状:</span>
                            {{item.style.csysPotStyleDesc}}
                          </ng-template>
                          {{item.style.csysPotStyleName}}
                        </p>
                      </div>
                    </div>
                  </div>
                  <div nz-col class="gutter-row" nzSpan="6">
                    <div class="gutter-box">
                      创建人
                      <p lines="1" style="width: 100px;" class="text-truncate" nz-tooltip
                        [nzTitle]="item.csysPotPublicCreateUser">
                        {{item.csysPotPublicCreateUser}}
                      </p>
                    </div>
                  </div>
                  <div nz-col class="gutter-row" nzSpan="6">
                    <div class="gutter-box">
                      创建时间
                      <p lines="1" style="width: 100px;" class="text-truncate" nz-tooltip
                        [nzTitle]="item.csysPotPublicCreateTime">{{item.csysPotPublicCreateTime | _date}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="width-xl">
            <div class="d-flex text-grey-dark">
              <div class="gutter-row" nzSpan="8">
                样式
                <p>波峰焊</p>
              </div>
              <div class="gutter-row" nzSpan="8">
                创建人
                <p lines="1" style="width: 100px;" class="text-truncate" nz-tooltip
                  [nzTitle]="item.csysPotPublicCreateUser">
                  {{item.csysPotPublicCreateUser}}
            
              </div>
              <div class="gutter-row" nzSpan="8">
                创建时间
                <p>{{item.csysPotPublicCreateTime | _date}}</p>
              </div>
            </div>
          
          </div> -->
        </ng-template>
      </nz-list-item>
    </ng-template>
    <ng-template #pagination>
      <nz-pagination [nzTotal]="totalRecords" [nzPageSize]="5" [nzPageIndex]="currentPage"
        (nzPageIndexChange)="_getWorkFlowListData($event)"></nz-pagination>
    </ng-template>
  </nz-list>
</nz-card>

<nz-modal nzWrapClassName="vertical-center-modal" [(nzVisible)]="isVisible" [nzTitle]="title"
  (nzOnCancel)="handleCancel()" (nzOnOk)="saveWorkFlow()" [nzFooter]="modalFooter">
  <nz-spin [nzSpinning]="spinning">
  <form nz-form [formGroup]="form">
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="workFlowName">公共工序名称</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" form="" [nzValidateStatus]="form.get('workFlowName')">
        <input nz-input formControlName="workFlowName" id="workFlowName" placeholder="请输入公共工序名称">
        <nz-form-explain *ngIf="form.get('workFlowName').dirty && form.get('workFlowName').errors">请输入公共工序名称
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="workFlowStyle">工序样式</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <nz-select formControlName="workFlowStyle" nzAllowClear nzPlaceHolder="请选择工序样式">
          <nz-option *ngFor="let item1 of flowStyle" [nzValue]="item1.csysPotStyleId"
            [nzLabel]="item1.csysPotStyleName">
          </nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="workFlowGroup">工序防呆组</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <nz-select formControlName="workFlowGroup" nzAllowClear nzShowSearch nzPlaceHolder="请选择防呆组">
          <nz-option *ngFor="let item of flowGroup" [nzValue]="item.csysPotGroupId" [nzLabel]="item.csysPotGroupName">
          </nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="workFlowPage">工序页面</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <nz-select formControlName="workFlowPage" nzAllowClear nzShowSearch nzPlaceHolder="请选择工序页面 ">
          <nz-option *ngFor="let item of pageList" [nzValue]="item.csysPageId" [nzLabel]="item.csysPageName">
          </nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="workFlowResource">工序资源</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <nz-select formControlName="workFlowResource" nzAllowClear 
          nzMode="multiple" nzPlaceHolder="请选择工序资源">
          <nz-option *ngFor="let item of resourceData" [nzValue]="item.tResourceId" [nzLabel]="item.resourceCode">
          </nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="workFlowDesc">公共工序描述</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <textarea nz-input formControlName="workFlowDesc" id="workFlowDesc" placeholder="请输入公共工序描述"></textarea>
        <!-- <nz-form-explain *ngIf="form.get('version').dirty && form.get('version').errors"></nz-form-explain> -->
      </nz-form-control>

    </nz-form-item>
    <ng-template #modalFooter>
      <button nz-button nzType="default" (click)="handleCancel()">取消</button>
      <button nz-button nzType="primary" type="submit" (click)="saveWorkFlow()" [disabled]="form.invalid"
        [nzLoading]="isOkLoading">确认</button>
    </ng-template>
  </form>
</nz-spin>
</nz-modal>