<nz-card style="background:#192B53;" [nzBordered]="false" [nzTitle]="salesTitle">
  <ng-template #salesTitle>
    <div style="background:#192B53;color:#1e91de;font-size: 18px">
      <i nz-icon nzType="double-right" nzTheme="outline"></i>
      质量效率看板
      <!-- <small class="text-sm font-weight-normal">共{{dataSet.length}}条工单</small> -->
    </div>

  </ng-template>
  <div style="background:#101638;width: 100%;height:fit-content">
    <div id="yield2"></div>
  </div>
  
  <!-- <v-chart [forceFit]="forceFit" [height]="height" [animate]="true" [theme]="theme">
    <v-tooltip></v-tooltip>
    <v-axis dataKey="value" [show]="false"></v-axis>
    <v-legend></v-legend>

    <v-view [data]="data">
      
      <v-interval position="time*数量" [label]="stackLabel"
      [color]="polygonOpts.color"
      [adjust]="polygonOpts.adjust"
      ></v-interval>
      

    </v-view>

    <v-view [data]="yieldData">
      <v-axis  [show]="false"></v-axis>
      <v-smooth-line position="time*value"  [color]="potcolor" shape="smooth"></v-smooth-line>
      <v-point position="time*value"  [color]="potcolor"  shape="circle" [label]="pointLabel"></v-point>
    </v-view>
 


  </v-chart> -->

</nz-card>