<div>
  <div >
    <div style="background:#192B53;color:#1e91de;font-size: 18px;width: 100%;">
      <i nz-icon nzType="double-right" nzTheme="outline"></i>
      {{title}}

    </div>
   
    <!-- <small class="text-sm font-weight-normal">共{{dataSet.length}}条工单</small> -->
  </div>
  <v-chart [forceFit]="forceFit" [height]="height" [data]="data" [theme]="theme">
    <v-tooltip></v-tooltip>
    <v-axis></v-axis>
    <v-legend></v-legend>
    <v-bar position="部门*总数" [color]="color" [adjust]="adjust" [label]="label"></v-bar>
    <v-guide
    *ngIf="lineNum"
    type="line" 
    [start]="start2" 
    [end]="end"
    [lineStyle]="lineStyle"
    [text]="text"
    [top]="true"
  >
  </v-guide>
  </v-chart>
</div>