<nz-card style="background:#192B53" [nzBordered]="false" [nzTitle]="salesTitle">
    <ng-template #salesTitle>
      <div style="background:#192B53;color:#1e91de;font-size: 18px">
        <i nz-icon nzType="double-right" nzTheme="outline"></i>
        今日产线异常
        
      </div>
  
    </ng-template>
    
    <nz-list [nzDataSource]="prolineErrorData" [nzRenderItem]="item" [nzItemLayout]="'horizontal'" [nzLoading]="loading" >
        <ng-template #item let-item >
          <nz-list-item > 
            <nz-list-item-meta
              [nzTitle]="nzTitle"
              [nzDescription]="nzDescription"
            >
            <ng-template #nzDescription>
              <p>{{ item.lossReason }}</p> 
            </ng-template>
              <ng-template #nzTitle>
                  <nz-avatar
                  [ngStyle]="{ 'background-color': '#ffbf00' }"
                  [nzText]="mesType[item.lossType]"
                  nzSize="large"
                  style="vertical-align: middle;"
                ></nz-avatar>
                
                <nz-tag *ngIf="item.lossLogType=='1'" style="margin-left:10px" [nzColor]="'#108ee9'">{{mesrange[item.lossLogType]}}</nz-tag>
                <nz-tag *ngIf="item.lossLogType=='2'" style="margin-left:10px" [nzColor]="'#f50'">{{mesrange[item.lossLogType]}}</nz-tag>
              </ng-template>
            </nz-list-item-meta>
          </nz-list-item>
        </ng-template>
      </nz-list>
  </nz-card>