<page-header [home]="''"></page-header>
<nz-card [nzBordered]="false">
  <div nz-row>
    <div nz-col [nzXs]="24" [nzSm]="8" class="header-info">
      <span class="text-grey-dark">xxx用户组</span>
      <span class="d-block display-2">权限分配</span>
      <em></em>
    </div>

  </div>
</nz-card>
<nz-card [nzBordered]="false">
  <div class="d-flex align-items-center mb-lg">
    <h3 class="flex-1 text-lg">页面权限列表</h3>
    <div>
      <nz-radio-group [(ngModel)]="q.status" class="mr-md">
        <label nz-radio-button [nzValue]="'all'">
          <span>全部</span>
        </label>
        <label nz-radio-button [nzValue]="'progress'">
          <span>进行中</span>
        </label>
        <label nz-radio-button [nzValue]="'waiting'">
          <span>已删除</span>
        </label>
      </nz-radio-group>
      <nz-input-group nzSuffixIcon="search" style="width: 270px;">
        <input type="text" nz-input placeholder="请输入" [(ngModel)]="q.q" name="q">
      </nz-input-group>
    </div>
  </div>

  <nz-list [nzDataSource]="data" [nzLoading]="loading" [nzRenderItem]="item" [nzPagination]="pagination">
    <ng-template #item let-item>
      <nz-list-item [nzContent]="nzContent" [nzActions]="[useredit,preview,save]">
        <ng-template #useredit>

          <label nz-checkbox [(ngModel)]="item.checkedall" (ngModelChange)="checkall(item.checkedall,item.checkOptions)">全选</label>
        </ng-template>
        <ng-template #preview>

          <a> <i nz-icon nzType="eye" nzTheme="outline" ></i>预览 </a>
        </ng-template>
        <ng-template #save>

                <a   > <i nz-icon nzType="check" nzTheme="outline" ></i>保存 </a> 
           
         
        </ng-template>
        <nz-list-item-meta [nzTitle]="nzTitle" [nzDescription]="item.subDescription" [nzAvatar]="nzAvatar">
          <ng-template #nzTitle>
            <a href="{{item.href}}" target="_blank">{{item.title}}</a>
          </ng-template>
          <ng-template #nzAvatar>
            <nz-avatar [nzSrc]="item.logo" nzSize="large" [nzShape]="'circle'"></nz-avatar>

          </ng-template>
        </nz-list-item-meta>
        <ng-template #nzContent>


          <nz-checkbox-group [(ngModel)]="item.checkOptions" (ngModelChange)="checkboxlog(item.checkOptions)"></nz-checkbox-group>




        </ng-template>
      </nz-list-item>
    </ng-template>
    <ng-template #pagination>
      <nz-pagination [nzTotal]="50" [nzPageSize]="5" ></nz-pagination>
    </ng-template>
  </nz-list>
</nz-card>

<nz-modal nzWrapClassName="vertical-center-modal" [(nzVisible)]="isVisible" nzTitle="用户分配" (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()" [nzOkLoading]="isOkLoading">

  <nz-transfer [nzDataSource]="transferlist" nzShowSearch [nzOperations]="['to right', 'to left']" [nzListStyle]="{ 'height.px': 300}"
    [nzRender]="render" [nzFooter]="footer" (nzSelectChange)="transferselect($event)" (nzChange)="transferchange($event)">
    <ng-template #render let-item>
      {{ item.title }}-{{ item.description }}
    </ng-template>
    <ng-template #footer let-direction>
      <button nz-button  [nzSize]="'small'" style="float: right; margin: 5px;">reload</button>
    </ng-template>


  </nz-transfer>

</nz-modal>