<nz-table #borderedTable nzShowPagination=false [nzPageIndex]="nzPageIndex" [nzPageSize]="nzPageSize" [nzTitle]="Header"
  [nzData]="woWipTableData" style="background:#192B53;">
  <thead>
    <tr>
      <th>序号</th>
      <th>工单代码</th>
      <!-- <th>产品代码</th> -->
      <th>工段</th>
      <th>工单数量</th>
      <th>已投入</th>
      <th>待投入</th>
      <th>产出</th>
      <!-- <th>虚拟产出</th> -->
      <th>开始时间</th>
      <th>结束时间</th>
      <th>状态</th>

    </tr>
  </thead>
  <tbody style="background:#192B53;color:#ffffff">
    <ng-container *ngFor="let data of borderedTable.data;let i=index">
      <tr ryHighlight>
        <td [style.color]="data.smtWoState=='待排产'?'#FFD700':'#ffffff'">{{i+1+(nzPageIndex-1)*nzPageSize}}</td>
        <td [style.color]="data.smtWoState=='待排产'?'#FFD700':'#ffffff'">{{ data.woCode }}</td>
        <!-- <td>{{ data.productCode }}</td> -->
        <td [style.color]="data.smtWoState=='待排产'?'#FFD700':'#ffffff'">{{ data.opCode }}</td>
        <td [style.color]="data.smtWoState=='待排产'?'#FFD700':'#ffffff'">{{ data.planNumber }}</td>
        <td [style.color]="data.smtWoState=='待排产'?'#FFD700':'#ffffff'">{{ data.inputNumber }}</td>
        <td [style.color]="data.smtWoState=='待排产'?'#FFD700':'#ffffff'">{{ data.waitNumber }}</td>
        <td [style.color]="data.smtWoState=='待排产'?'#FFD700':'#ffffff'">{{ data.produceNumber }}</td>
        <!-- <td>{{ data.produceAllNumber }}</td> -->
        <td [style.color]="data.smtWoState=='待排产'?'#FFD700':'#ffffff'">{{ data.smtRealWorkDate | general:'date':'yyyy-MM-dd HH:mm':'—— ——' }}</td>
        <td [style.color]="data.smtWoState=='待排产'?'#FFD700':'#ffffff'">{{ data.smtCompleteWorkDate | general:'date':'yyyy-MM-dd HH:mm':'—— ——' }}</td>
        <td [style.color]="data.smtWoState=='待排产'?'#FFD700':'#ffffff'">{{ data.smtWoState }}</td>
      </tr>
    </ng-container>

  </tbody>
</nz-table>

<ng-template #Header>
  <div style="background:#192B53;color:#1e91de;font-size: 18px">
    <i nz-icon nzType="double-right" nzTheme="outline"></i>
    今日在制工单
    <!-- <small class="text-sm font-weight-normal">共{{borderedTable.data.length}}条生产工单</small> -->

  </div>


</ng-template>
