<nz-table #borderedTable nzBordered nzShowPagination=false nzFrontPagination=false [nzTitle]="Header" [nzData]="dataSet">
  <thead>
    <tr>
      <th>编号</th>
      <th>项目</th>
      <th>产线</th>
      <th>工单</th>
      <th>产品</th>
      <th>直通率</th>
    </tr>
  </thead>
  <tbody style="background:#101638;color:#ffffff">
    <tr *ngFor="let data of borderedTable.data;let i=index">
      <td> {{i+1}}</td>
      <td>{{ data.FLAG4 }}</td>
      <td>{{ data.PRO_LINE_CODE }}</td>
      <td>{{ data.WO_CODE }}</td>
      <td>{{ data.PRODUCT_CODE }}</td>
      <td class="yieldPercent">{{data.FLAG1 | percent}}</td>
    </tr>
  </tbody>
</nz-table>

<ng-template #Header>
  <div style="background:#101638;color:#1e91de;font-size: 18px">
    <i nz-icon nzType="double-right" nzTheme="outline"></i>
    良率数据看板
    <small class="text-sm font-weight-normal">共{{borderedTable.data.length}}条生产线</small>
  </div>

</ng-template>