 
<page-header [breadcrumb]="breadcrumb" [content]="content">
  <ng-template #breadcrumb>
    <nz-breadcrumb>
      <nz-breadcrumb-item>
        <a [routerLink]="['/default/workplace']">首页</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a [routerLink]="['/default/workplace']">控制台</a>
      </nz-breadcrumb-item>
   
    </nz-breadcrumb>
  </ng-template>
  <ng-template #content>
    <div class="content">
      <div class="avatar">
        <!-- <nz-avatar class="avatar"  nzSize="large" [nzText]="userService.getCurrentUser().cySysBaseUserRealname" style="background-color:#87d068;"></nz-avatar> -->
        <nz-avatar nzSrc="https://gw.alipayobjects.com/zos/rmsportal/lctvVCLfRpYCkYxAsiVQ.png"></nz-avatar>
      </div>
      <div class="desc">
        <div class="desc-title">你好，{{ userName}}，祝您开心每一天！</div>
        <div>it信息部 | 软件工程师</div>
      </div>
    </div>
  </ng-template>
  <ng-template #extra>
    <div class="page-extra">
      <div>
        <p>项目数</p>
        <p>56</p>
      </div>
      <div>
        <p>团队内排名</p>
        <p>8
          <span> / 24</span>
        </p>
      </div>
      <div>
        <p>项目访问</p>
        <p>2,223</p>
      </div>
    </div>
  </ng-template>
</page-header>

