<div nz-row>
  <!-- 头部 -->
  <div nz-col nzXs="24" nzLg="7">
    <div style="display: flex;align-items: center;">
      <img *ngIf="fontSizeTitle1<40;else elseBlock" class="logo" src="./assets/img/logo-full.png"
        style="height: 55px;margin-top: 2px;">
      <ng-template #elseBlock>
        <img class="logo" src="./assets/img/logo-full.png" style="height: 96px;margin-top: 2px;">
      </ng-template>
      <span [style.font-size]="fontSizeTitle1+'px'" style="color: #f5222d;white-space: nowrap;">
        保质、保量、高效！
      </span>
    </div>


  </div>
  <div nz-col nzXs="24" nzLg="10">

    <div style="color:#1e91de;text-align: center;font-weight: 500;" [style.font-size]="fontSizeTitle1+'px'">
      <span style="line-height: 1;cursor: pointer;" (click)="showChange()">
        {{this.workShop.workShopCode==='-1'?'全厂':this.workShop.workShopCode}}
      </span>
      {{title}}
    </div>
  </div>
  <div nz-col nzXs="24" nzLg="7">
    <div nz-row>
      <div nz-col nzXs="24" nzLg="24" style="text-align: right;">

        <div style="display:flex;align-items: center;justify-content: flex-end;width: 100%;">

          <nz-statistic *ngIf="!rpsBoardService.date" style="color:white" [nzValue]="nowTime|date:'yyyy-MM-dd HH:mm:ss'"
            [nzPrefix]="prefixTpl">
          </nz-statistic>
          <ng-template #prefixTpl><i nz-icon nzType="clock-circle" nzTheme="twotone"></i></ng-template>

          <!-- {{rpsBoardService.date}} -->
          <nz-statistic *ngIf="rpsBoardService.date" style="color:white"
            [nzValue]="rpsBoardService.date+(rpsBoardService.dateMode==='DayShift'?' 白班':' 夜班')" [nzPrefix]="prefixTpl">
          </nz-statistic>

          <button *ngIf="rpsMode;else adButton" nz-button nz-popover [nzContent]="contentTemplate"
            nzPlacement="bottomRight" [(nzVisible)]="dateVisible" style="margin-left: 10px;" nzTrigger="click"><i
              nz-icon nzType="swap" nzTheme="outline"></i>历史</button>
          <button *ngIf="rpsMode && !rpsBoardService.isFour" nz-button nzType="primary"  style="margin-left: 5px;" (click)="doExport()">
            <i nz-icon nzType="export" nzTheme="outline"></i>导出</button>

          <ng-template #adButton>
            <button nz-button style="margin-left: 10px;" nzType="primary" (click)="changeAD()"><i nz-icon nzType="swap"
                nzTheme="outline"></i>切换</button>
                <button nz-button nzType="primary"  style="margin-left: 5px;" (click)="doExportAd()">
                  <i nz-icon nzType="export" nzTheme="outline"></i>导出</button>
          </ng-template>

          <ng-template #contentTemplate>
            <div>
              <!-- 日期：{{date}} -->
              <nz-date-picker [(ngModel)]="date"></nz-date-picker>

              <nz-radio-group [(ngModel)]="dateMode">
                <label nz-radio nzValue="DayShift">白班</label>
                <label nz-radio nzValue="NightShift">夜班</label>
              </nz-radio-group><br>
              <button nz-button style="margin-left: 8px;margin-top: 4px;" nzType="primary"
                (click)="changeMode()">查看历史</button>
              <button nz-button style="margin-left: 8px;" (click)="changeMode(true)">返回实时</button>

              <br>

            </div>

          </ng-template>

        </div>






      </div>

    </div>
  </div>
</div>

<nz-modal [(nzVisible)]="isVisible" [nzWidth]="1200" (nzOnCancel)="isVisible=false;" [nzStyle]="{ top: '200px' }"
  [nzOkText]="null" [nzCancelText]="null" [nzBodyStyle]="{'background': '#192b53'}" [nzFooter]="null">
  <div class="gutter-example">
    <div nz-row nzGutter="16">
      <div nz-col nzSpan="6" *ngFor="let item of rpsBoardService.workshops"
        style="border:1px solid #000;color: #fff;cursor: pointer;" (click)="change(item)">
        <div style="font-size:xx-large;">{{item.workShopCode}}</div>
        <!-- <div style="font-size:xx-large;">{{item.workShopCodeDes}}</div> -->
      </div>
      <!-- <div nz-col  nzSpan="6"  style="border:1px solid #000;color: #fff;cursor: pointer;" (click)="change({workShopCode:'-1'})">
        <div style="font-size:xx-large;">全厂</div>
      </div> -->
    </div>
  </div>

</nz-modal>