<nz-table #middleTable nzTemplateMode nzSize="middle" nzBordered nzShowPagination="false">
  <thead>
    <tr>
      <th class="thcenter">在线总效率</th>
      <th class="thcenter">离线总效率</th>
      <th class="thcenter">在线签到工时</th>
      <th class="thcenter">总签到工时</th>
      <th class="thcenter">计件工时</th>
      <th class="thcenter">考勤总人数</th>
      <th class="thcenter">在线签到总人数</th>
      <th class="thcenter">离线签到总人数</th>
    </tr>
  </thead>
  <tbody>
    <tr ryHighlight>
      <td class="thcenter">{{totalData.onlineEfficiency*100 | number:'.0-1'}}%</td>
      <td class="thcenter">{{totalData.offlineEfficiency*100 | number:'.0-1'}}%</td>
      <td class="thcenter">{{totalData.signTime/3600 | number:'.1-2'}}</td>
      <td class="thcenter">{{totalData.stdSignOfflineTime/3600 | number:'.1-2'}}</td>
      <td class="thcenter">{{totalData.effectiveOutput/3600 | number:'.1-2'}}</td>

      <td class="thcenter">{{totalData.kaoqin}}</td>
      <td class="thcenter">{{totalData.onlineSign}}</td>
      <td class="thcenter">{{totalData.signCountOffline}}</td>
    </tr>
  </tbody>
</nz-table>