<nz-table #basicServerTable [nzData]="serverData">
  <thead>
    <tr>
      <th>服务器名称</th>
      <th>服务器服务名</th>
      <th>服务器地址</th>
      <th>测试接口</th>
      <th>服务器状态</th>
      <th>是否使用</th>
      <th>异常次数</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicServerTable.data">
      <td>{{ data.csysDatabaseinfoName }}</td>
      <td>{{ data.csysDatabaseinfoServername }}</td>
      <td>{{ data.csysDatabaseinfoAddress }}</td>
      <td>{{ data.csysDatabaseinfoTestapi }}</td>
      <td>
        <span *ngIf="data.csysDatabaseinfoState=='0'">
          <nz-badge nzStatus="default"></nz-badge>停止
        </span>
        <span *ngIf="data.csysDatabaseinfoState=='1'">
          <nz-badge nzStatus="processing"></nz-badge>启动
        </span>
        <span *ngIf="data.csysDatabaseinfoState=='2'">
          <nz-badge nzStatus="error"></nz-badge>故障
        </span>
      </td>
      <td>
        <i *ngIf="data.spare3=='1'" nz-icon style="font-size:24px;color:#52c41a" [nzType]="'sync'" [nzSpin]="true"></i>
        <i *ngIf="data.spare3=='0'" nz-icon style="font-size:24px;" [nzType]="'sync'" [nzSpin]="false"></i>
      </td>
      <td>{{ data.spare4 }}</td>
      <td>
          <a nz-popconfirm nzPopconfirmTitle="Are you sure?" nzOkText="ok" nzCancelText="cancel"
          (nzOnConfirm)="restartServer(data.csysDatabaseinfoServername,'stop')">关闭</a>
          <a nz-popconfirm nzPopconfirmTitle="Are you sure?" nzOkText="ok" nzCancelText="cancel"
          (nzOnConfirm)="restartServer(data.csysDatabaseinfoServername,'start')">启动</a>
      </td>
    </tr>
  </tbody>
</nz-table>