<div nz-row class="chartContainer" style="overflow-x: hidden;">
  <div nz-col [nzSpan]="24">
    <!-- 头部 -->
    <div nz-row>
      <div nz-col nzSpan="5">

        <nz-statistic style="color:white" [nzValue]="nowTime|date:'yyyy-MM-dd HH:mm:ss'" [nzPrefix]="prefixTpl">
        </nz-statistic>
        <ng-template #prefixTpl><i nz-icon nzType="clock-circle" nzTheme="twotone"></i></ng-template>

      </div>
      <div nz-col nzSpan="14">

        <h1 style="color:#1e91de;text-align: center;font-size: 40px;">
          <img class="logo" src="./assets/img/logo-full.png">
          {{workshopName}}车间看板
        </h1>
      </div>
      <div nz-col nzSpan="5">
        <div nz-row>
          <div nz-col nzSpan="12" class="proline-title">
            温度:
          </div>
          <div nz-col nzSpan="12" class="proline-title">
            湿度：
          </div>
        </div>
      </div>
    </div>
    <!-- 头部 end -->





  </div>
</div>