<div class="chartContainer" style="padding-left: 10px; padding-right: 10px;">

  <div nz-row style="height: 10%;">
    <!-- 头部 -->
    <div nz-col nzXs="24" nzLg="6">

      <nz-statistic style="color:white" [nzValue]="nowTime|date:'yyyy-MM-dd HH:mm:ss'" [nzPrefix]="prefixTpl">
      </nz-statistic>
      <ng-template #prefixTpl><i nz-icon nzType="clock-circle" nzTheme="twotone"></i></ng-template>

    </div>
    <div nz-col nzXs="24" nzLg="12">

      <h1 style="color:#1e91de;text-align: center" [style.font-size]="fontSizeTitle1+'px'">
        <img *ngIf="fontSizeTitle1<35;else elseBlock" class="logo" src="./assets/img/logo-full.png"
          style="height: 55px;">
        <ng-template #elseBlock>
          <img class="logo" src="./assets/img/logo-full.png" style="height: 65px;">
        </ng-template>
        {{workshopCode}}车间看板
      </h1>
    </div>
    <div nz-col nzXs="24" nzLg="6">
      <div nz-row>
        <div nz-col nzXs="24" nzLg="24" style="text-align: right;">

          <h2 style="color:#ffffff;text-align: center;" [style.font-size]="(fontSizeTitle1-8)+'px'">
            <img class="logo" src="./assets/img/温度.svg" style="height: 36px;margin: 0 auto;">温度:
            <span style="color:#ea9518;">
              28℃
            </span>
            <img class="logo" src="./assets/img/湿度.svg" style="height: 36px;margin: 0 auto;">湿度:
            <span style="color:#2aa515;">
             72%
            </span>
          </h2>

        </div>

      </div>
    </div>
  </div>
  <div nz-row [nzGutter]="8" style="color: aliceblue;height: 50%; border:0px solid #c1eb06;">
    <!-- 上层  -->
    <div #yieldDiv nz-col nzXs="24" nzLg="12" style="height: 100%;border:0px solid #c1eb06; padding-right: 10px;">
      <!-- 上层 左  -->
      <div nz-row style="height: 100%;">
        <div nz-col nzXs="24" nzLg="24" style="height: 100%; background:#192B53;">
          <div #yieldDiv2 style="height: 7.68%;text-align: center;">
            <span style="color:#1e91de;text-align: center;" [style.font-size]="fontSizeTitle2+'px'">
              今日线体良率情况
            </span>
          </div>

          <app-yield-productline [data$]="leftData$" [height]='yieldDivHeight'></app-yield-productline>
        </div>
      </div>

    </div>
    <div nz-col nzXs="24" nzLg="12" style=" height: 100%;border:0px solid #c1eb06;">
      <!-- 上层 右 再分左右  -->

      <div nz-row [nzGutter]="8" style="height: 40%;  border:0px solid #c1eb06;">
        <div nz-col nzXs="12" nzLg="12" style="height: 100%; background:#192B53; border:0px solid #c1eb06; ">
          <div style="height: 19.2%; text-align:center;">
            <span style="color:#1e91de;text-align: center;" [style.font-size]="fontSizeTitle2+'px'">
              今日缺陷分布情况
            </span>
          </div>
          <div #roundDiv style="height: 80.8%; background:#101638;">
            <app-bad-today [height$]="roundDivHeight$" [workshopCode]="workshopCode" ></app-bad-today>
          </div>


        </div>
        <div nz-col nzXs="12" nzLg="12" style="height: 100%; background:#192B53; border:0px solid #c1eb06;">
          <div style="height: 19.2%; text-align:center;">
            <span style="color:#1e91de;text-align: center;" [style.font-size]="fontSizeTitle2+'px'">
              今日在岗情况
            </span>
          </div>
          <div style="height: 80.8%; background:#101638;">
            <app-people-today [height$]="roundDivHeight$" [workshopCode]="workshopCode"></app-people-today>
          </div>


        </div>
      </div>
      <div #yieldDailydiv nz-row style="height: 60%;background:#192B53; padding-left: 5px; padding-right: 5px;">

        <div style="height: 12.8%;text-align: center;">
          <span style="color:#1e91de;text-align: center;" [style.font-size]="fontSizeTitle2+'px'">
            每日良率趋势情况对比
          </span>
        </div>
        <div style="background:#101638;">
          <app-yield-daily [height$]="yieldDailydivHeight$"></app-yield-daily>
        </div>

      </div>
    </div>
  </div>
  <div nz-row [nzGutter]="8" style="color: aliceblue;height: 40%; border:0px solid #c1eb06;padding-top: 10px;">


    <div nz-col nzXs="24" nzLg="12" style="height:100%;">

      <div style="height: 9.6%; text-align:center; background:#192B53;">
        <span style="color:#1e91de;text-align: center;" [style.font-size]="fontSizeTitle2+'px'">
          今日线体计划达成情况
        </span>
      </div>
      <div #tableDiv style="height: 90.4%; background:#101638;">
        <app-plan-table [data$]="leftData$" [height$]="tableDivHeight$"></app-plan-table>
      </div>
    </div>
    <div nz-col nzXs="24" nzLg="12" style="height:100%;">

      <div style="height: 9.6%; text-align:center;  background:#192B53;">
        <span style="color:#1e91de;text-align: center;" [style.font-size]="fontSizeTitle2+'px'">
          今日线体异常
        </span>
      </div>
      <div style="height: 90.4%; background:#101638;">
        <app-error-table [height$]="tableDivHeight$"></app-error-table>
      </div>
    </div>
  </div>
</div>