
<nz-card  style="background:#101638;" [nzBordered]="false" [nzTitle]="salesTitle">
    <ng-template #salesTitle>
        <div style="background:#101638;color:#1e91de;font-size: 18px">
            <i nz-icon nzType="double-right" nzTheme="outline"></i>
            产线：{{data[0].PRO_LINE_CODE}} -工单：{{data[0].WO_CODE}}
          </div>

    </ng-template>
    <v-chart [forceFit]="forceFit" [height]="height" [data]="data" [scale]="scale" [animate]="true" [theme]="theme">
      <v-coord type="polar" [startAngle]="-202.5" [endAngle]="22.5" [radius]="0.75"></v-coord>
      <v-axis dataKey="value" [zIndex]="2" [line]="null" [subTickCount]="4" [grid]="null" [label]="axisLabel"
        [subTickLine]="axisSubTickLine" [tickLine]="axisTickLine"></v-axis>
      <v-axis dataKey="1" [show]="false"></v-axis>
      <v-series gemo="point" position="value*1" shape="pointer" color="#8C8C8C" [active]="false"></v-series>
      
      <!-- <v-guide type="arc" [zIndex]="1" [start]="arcGuideMidStart" [end]="arcGuideMidEnd" [style]="arcGuideMidStyle"></v-guide>
      <v-guide type="arc" [zIndex]="1" [start]="arcGuideHighStart" [end]="arcGuideHighEnd" [style]="arcGuideHighStyle"></v-guide> -->
      <v-guide type="html" [position]="htmlGuidePosition" [html]="htmlGuideHtml"></v-guide>
    </v-chart>
  </nz-card>